<launch>
    <param name="~frame_id" type="string" value="world_ned" />



    <!-- exploration -->
    <node pkg="ho_planning" type="frontier_planner_node.py" name="frontier_planner_node" output="screen"/>

    <!-- global path planner -->
    <node pkg="ho_planning" type="global_path_planner_node.py" name="global_planner_node" output="screen"/>

    <!-- DWA planner -->
    <node pkg="ho_planning" type="dwa_node.py" name="dwa_node" output="screen"/>

    <!-- SM  -->
    <node pkg="ho_planning" type="state_machine.py" name="state_machine_node" output="screen"/> 
    <node pkg="robot_state_publisher" 
          type="robot_state_publisher" 
          name="robot_state_publisher"/>

</launch>