<launch>
    <param name="~frame_id" type="string" value="world_ned" />
    <param name="~sensor_model/max_range"  value="2.0" />
    <param name="enable_map" type="string" value="False" />
    <param name="simulation" type="string" value="False" />

    <!-- Octmap server -->
    <!-- <param name="~frame_id" type="string" value="odom" /> -->
    <node pkg="ho_localization" type="laser_to_pc_node.py" name="laserscan_to_pointcloud"/>
    
    <node pkg="ho_localization" type="ndt_node" name="ndt_node" output="screen"/>

    <node pkg="ho_localization" type="localization_node.py" name="localization_node" output="screen"/>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap" output="screen">
        <!-- <remap to="/combined_pc" from="/cloud_in"/> -->
        
    </node>
    

    <!-- Twist velocity -->
    <node pkg="ho_planning" type="vel_adapter_node.py" name="cmd_vel_adapter"/>

    <!-- global path planner -->
    <!-- <node pkg="ho_planning" type="global_path_planner_node.py" name="global_planner_node" output="screen"/> -->

</launch>